<p>dutch works!</p>
<div class="row">
    <div class="col-12 col-md-12 col-lg-6 d-flex">
        <div class="btn-group ms-auto" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked [(ngModel)]="modeTraining" [value]="true">
            <label class="btn btn-outline-warning" for="btnradio1">{{ 'learn' | translate}}</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [(ngModel)]="modeTraining" [value]="false">
            <label class="btn btn-outline-warning" for="btnradio2">{{ 'test' | translate}}</label>
        </div>
    </div>
</div>
<app-flashcard quizFile="/nl/2.4/quizz_nl.json" [modeTraining]="modeTraining"></app-flashcard>