{{questions | json }}
<div class="row">
    <div class="card border-0 card-front col-12 col-md-6 col-lg-6 shadow p-3 mb-5 bg-white rounded animate-front" *ngIf="endQuiz">
        <div class="card-header">END</div>
        <div class="card-body text-primary ">
            <hr class="rainbow "> {{score / questions.length}}

            <h5 class="card-title ">{{theme}}</h5>
        </div>
        <div class="card-footer ">
            <small class="text-body-secondary ">Last updated 3 mins ago</small>
        </div>
    </div>

    <ng-container *ngIf="!endQuiz">

        <div class="card border-0 card-front col-12 col-md-6 col-lg-6 shadow p-3 mb-5 bg-white rounded" [class.animate-front]="showFront ">
            <div class=" card-header " (click)="showFront=!showFront ">{{theme}}</div>
            <div class="card-body text-primary ">
                <hr class="rainbow ">
                <h5 class="card-title ">{{ currentQuestion.question }}</h5>
                <p class="card-text ">?</p>
            </div>
            <div class="card-footer ">
                <small class="text-body-secondary ">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card border-primary card-back col-12 col-md-6 col-lg-6 " [class.animate-back]="!showFront ">
            <div class="card-header " (click)="showFront=!showFront ">{{theme}}</div>
            <div class="card-body text-primary">
                <hr class="rainbow ">
                <h5 class="card-title ">{{ currentQuestion.question }}</h5>
                <div class="input-group mb-3 ">
                    <input type="text" [(ngModel)]="userAnswer" class="form-control " placeholder="Votre réponse " aria-label="Votre réponse " aria-describedby="button-addon2 ">
                    <button class="btn btn-outline-primary " type="button " id="button-addon2" (click)="checkAnswer()">OK</button>
                </div>

            </div>
            <div class="card-footer ">
                <small class="text-body-secondary ">Last updated 3 mins ago</small>
            </div>
        </div>
    </ng-container>
</div>
