<ng-container *ngIf="mode === CardMode.OneSide">
    <div class="card h-100" [ngClass]="{ 'flip-card': !isLoading}">
        <a class="card-link" (click)="onCardClickAction()">
            <div class="flip-card-inner" [ngClass]="{ 'flip-card-simple': flipcard}">
                <div class="flip-card-front">
                    <div class="card-body text-center" [ngClass]="class">
                        <!-- Skeleton Loader pour le titre -->
                        <div *ngIf="isLoading" class="skeleton skeleton-title"></div>
                        <h5 class="card-title" *ngIf="!isLoading">
                            {{ title }}
                        </h5>

                        <!-- Skeleton Loader pour l'icône -->
                        <div *ngIf="isLoading && icon" class="skeleton skeleton-icon"></div>
                        <i class="bi" [ngClass]="icon" style="font-size: 48px;" *ngIf="!isLoading"></i>

                        <!-- Skeleton Loader pour le sous-titre -->
                        <div *ngIf="isLoading" class="skeleton skeleton-subtitle"></div>
                        <p class="card-subtitle" *ngIf="!isLoading">
                            {{ subtitle }}
                        </p>


                        <!-- Skeleton Loader pour l'image -->
                        <div *ngIf="isLoading && imageUrl !== ''" class="skeleton skeleton-image"></div>
                        <div class="image-container" *ngIf="imageUrl !== '' && !isLoading">
                            <img [src]="imageUrl" alt="Card image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</ng-container>

<ng-container *ngIf="mode === CardMode.DoubleSide">
    <div class="col-md-10 col-lg-8 mb-4 double-side">
        <div class="card h-100 border-0">
            <div class="flip-card-inner" [ngClass]="{ 'flip-card-hover': flipcard}">
                <div class="flip-card-front" [ngClass]="class" (click)="flipcard = !flipcard">
                    <div class="card-body text-center">
                        <div class="card-title" *ngIf="!isLoading">
                            <i class="bi bi-patch-question-fill"></i>
                            <h5>{{ 'question' | translate }}</h5>
                        </div>
                        <div class="card-title w-100" *ngIf="isLoading">
                            <div *ngIf="isLoading" class="skeleton skeleton-title"></div>
                        </div>
                        <p class="card-subtitle " *ngIf="!isLoading">
                            {{ question }}
                        </p>
                    </div>
                </div>
                <div class="flip-card-back " (click)="flipcard=! flipcard ">
                    <div class="card-body text-center ">
                        <div class="skeleton " *ngIf="isLoading "></div>
                        <div class="wave-card " [ngClass]="class ">
                            <div class="text-answer">
                                <div class="card-title" *ngIf="!isLoading">
                                    <i class="bi bi-patch-check-fill"></i>
                                    <h5> {{ 'answer' | translate }}</h5>
                                </div>
                                <div class="card-title w-100" *ngIf="isLoading">
                                    <div *ngIf="isLoading" class="skeleton skeleton-title"></div>
                                </div>
                                <div class=" card-subtitle">
                                    <p *ngIf="!isLoading">{{ answer }}</p>
                                    <p *ngIf="isLoading" class="skeleton skeleton-subtitle"></p>
                                </div>
                            </div>
                            <svg viewBox="0 0 450 167 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                              <path d="M0,80 C150,120 300,40 450,80 L450,167 L0,167 Z " fill="currentColor " />
                          </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="mode === CardMode.question">
    <div class="col-md-10 col-lg-8 mb-4 question">
        <div class="card h-100 border-0">
            <div class="flip-card-inner" [ngClass]="{ 'flip-card-hover': flipcard}">
                <div class="flip-card-front" [ngClass]="class" (click)="flipcard = !flipcard">
                    <div class="card-body text-center">
                        <div class="skeleton" *ngIf="isLoading"></div>
                        <div class="card-title">
                            <h5 *ngIf="!isLoading" class="big">{{ 'question' | translate }}</h5>
                            <div *ngIf="isLoading" class="skeleton skeleton-title w-100 "></div>
                        </div>
                        <i class="bi bi-patch-question-fill h1 " *ngIf="!isLoading "></i>
                    </div>
                </div>
                <div class="flip-card-back ">
                    <div class="card-body text-center ">
                        <div class="skeleton " *ngIf="isLoading "></div>
                        <div class="wave-card " [ngClass]="class ">
                            <div class="text-answer ">
                                <div class="card-title " (click)="flipcard=! flipcard " *ngIf="!isLoading">
                                    <i class="bi bi-patch-question-fill "></i>
                                    <h5>{{ question }}</h5>
                                </div>
                                <div class="card-title" *ngIf="isLoading">
                                    <div *ngIf=" isLoading " class="skeleton skeleton-title w-100 "></div>
                                </div>

                                <div class="card-answer " *ngIf="!isLoading">
                                    <div class="form-group ">
                                        <label for="answerInput ">{{ 'youranswer' | translate }} </label>
                                        <input type="text " class="form-control " id="answerInput " placeholder="Napoléeon " [(ngModel)]="userAnswer ">
                                    </div>
                                    <div class="buttons ">
                                        <button type="button " class="btn btn-outline-light " (click)="onSkip() ">{{ 'skip' | translate }}</button>
                                        <button type="button " class="ms-2 btn btn-outline-warning " (click)="onOk() ">Ok</button>
                                    </div>
                                </div>

                                <div class="card-answer " *ngIf="isLoading">
                                    <div class="form-group ">
                                        <div class="skeleton skeleton-title w-100 "></div>
                                        <div class="skeleton skeleton-title w-100 "></div>
                                    </div>
                                    <div class="buttons ">
                                        <div class="skeleton btn skeleton-button"></div>
                                        <div class="skeleton btn ms-2 skeleton-button"></div>
                                    </div>
                                </div>
                            </div>
                            <svg viewBox="0 0 450 167 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                              <path d="M0,80 C150,120 300,40 450,80 L450,167 L0,167 Z " fill="currentColor " />
                          </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="mode === CardMode.win">
    <div class="col-md-10 col-lg-8 mb-4 question win">
        <div class="card h-100 border-0">
            <div class="flip-card-inner" [ngClass]="{ 'flip-card-hover': flipcard}">
                <div class="flip-card-front" [ngClass]="class">
                    <div class="card-body text-center">
                        <div class="skeleton" *ngIf="isLoading"></div>
                        <div class="card-title">
                            <h5 *ngIf="!isLoading" class="big" [innerHtml]="('win' | translate)"></h5>
                            <div *ngIf="isLoading" class="skeleton skeleton-title w-100 "></div>
                        </div>
                        <i class="bi bi-trophy-fill h1" *ngIf="!isLoading "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="mode === CardMode.lose">
    <div class="col-md-10 col-lg-8 mb-4 question lose">
        <div class="card h-100 border-0">
            <div class="flip-card-inner" [ngClass]="{ 'flip-card-hover': flipcard}">
                <div class="flip-card-front" [ngClass]="class">
                    <div class="card-body text-center">
                        <div class="skeleton" *ngIf="isLoading"></div>
                        <div class="card-title">
                            <h5 *ngIf="!isLoading" class="big" [innerHtml]="('lose' | translate)"></h5>
                            <div *ngIf="isLoading" class="skeleton skeleton-title w-100 "></div>
                        </div>
                        <i class="bi bi-emoji-dizzy" *ngIf="!isLoading"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>