// Personnalisation de la couleur primaire
$primary: red;
// Personnalisation de la couleur secondaire
$secondary: #6c757d;
// Autres personnalisations de Bootstrap
$font-size-base: 1.1rem; // Par exemple, ajuster la taille de base de la police
