// Personnalisation de la couleur primaire
$primary: #1D2A4B;
// Personnalisation de la couleur secondaire
$secondary: #6c757d;
$active: #FFD900;
$pink: #FF1DB4;
$blue: #2D73CF;
$green: #879F00;
// Autres personnalisations de Bootstrap
$font-size-base: 1.1rem; // Par exemple, ajuster la taille de base de la police
