@use './../../_variables.scss' as *;
.navbar {
    // background-color: #{$primary};
    font-size: 1.125rem;
    font-family: 'Verdana';
    color: #000;
    a {
        color: #888;
        font-weight: bold;
        border-bottom: 0.25rem solid transparent;
        display: flex;
        margin-right: 2rem;
        &.active {
            color: $active;
            // border-bottom: 0.25rem solid $active;
        }
    }
    .navbar-nav {
        margin-left: 5rem;
    }
    .navbar-brand {
        .logo {
            background-image: url("/images/ganesha-lang-cards.svg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 2rem;
            width: 10rem;
        }
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        font-family: 'Averia Libre';
        font-weight: bold;
        color: inherit;
        .sub-brand {
            font-size: 0.875rem;
            font-weight: bold;
            i {
                font-size: 1rem;
            }
        }
    }
}

.icon-flag {
    height: 1.5rem;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    &.nl {
        background-image: url("/images/flags/flag_dutch.svg");
    }
    &.es {
        background-image: url("/images/flags/flag_spain.svg");
    }
    &.en {
        background-image: url("/images/flags/flag_english.svg");
    }
}

.nav-item {
    display: flex;
    align-items: center;
}